body {
    background-color: lightblue;
    font-family: Arial;
}

form {
    width: 400px;
    margin: auto ;
    background-color: white;
    padding: 10px ;
}
h2{
	widht:18px;
	color:blue;
	text-align:center;
}
.First Name:{
	width:100%;
}
	